*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    margin-top: 50px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: red; */
}

.container > select{
    margin-right: 30px;
    margin-left: 5px;
}
option{
    background-color: antiquewhite;
 
}
option:hover{
    background-color: aquamarine;
}
label{
    font-weight: bold;
}



main{
    background-color: bisque;
    padding: 20px;
   
    width: 1000px;
    border: 2px solid black;
    border-radius: 20px;
    
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 20px;
}

button{
    padding: 3px;
    border: none;
    border: 2px solid black;
    background-color: red;
    border-radius: 15%;
    color: white;
}
button:hover{
    background-color: black;
    border: 3px solid red;
    transition: .3s;
    font-weight: bold;
}